body{
    background-image: url("imges/fond-1.jpg");
    background-size: cover;
    background-
    /* filter: brightness(0.36) ; */
}

.fa-google{
    margin-right: 10px;
}

input{
    border: none;
}

.mybox{
    background-color: #18191b;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px black;
}